(uiop:define-package aoc24.day.num
  (:use #:cl)
  (:import-from #:aoc24
   :get-input))
(in-package #:aoc24.day.num)

(defparameter *test-input* "")

(defparameter *input* (get-input day#))

(defun solve (input)
  input)

(solve *test-input*)
(solve *input*)
